.sidebar {
	position: fixed;
	top: 52%;
	transform: translate(0, -50%);
	right: clamp(12px, 3vw, 60px);
	gap: clamp(20px, 4.5vw, 80px);
	z-index: 1000;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.socials {
	width: clamp(18px, 1.95vw, 34px);
	gap: clamp(10px, 1.25vw, 24px);
	display: flex;
	flex-direction: column;
	align-items: center;
}

.links {
	gap: 4.5vw;
	display: flex;
	flex-direction: row;
	writing-mode: tb-rl;
	transform: rotate(-0deg);

	a {
		font-size: clamp(12px, 1.25vw, 22px);
		color: #b9b9b9;
		font-weight: 600;
		transition: color 0.3s ease-in-out;
		&:hover {
			color: white;
		}
	}
}

@media (max-width: 768px) {
	.sidebar {
		display: none;
	}
}
